

.section {
  box-shadow: 5px 5px 10px grey;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box border-box;
}

.indicators {
  display: flex;
  height: 120px;
  width: 80%;
  margin-bottom: 5px !important;
  margin: auto;
  background-image: linear-gradient(to top,#ffb199 100%,  #ff0844 0% );
}

.controls {
  display: flex;
  height: 120px;
  width: 80%;
  position: relative;
  margin: auto;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.box {
  color: white;
  box-shadow: #ffb199;
  border-width: 1px;
  border-radius: 5%;
  margin: 0.5em;
  height: 75px;
  width: 75px;
  display: inline-block;
  margin: auto;
  bottom: 5%;
  text-align: center;
  box-shadow: 5px 5px 10px grey;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

#low-usage {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

#medium-usage {
  background-image: linear-gradient(to right, #ffefbb 0%, #ffd82c 100%);
}

#high-usage {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.button {
  height: 75px;
  width: 120px;
}

.indicator {
  width: 130px;
}

span {
  top: 50%;
  text-shadow: 2px 2px 5px grey;
  text-align: center;
  line-height: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#temp-guage-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#power-saving {
  font-size: 80%;
}
h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 181, 181)
}

.usage-indicator {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

